<pd-test></pd-test>
<pd-app-button
  id="test"
  variant="primary"
  label="Test"
  type="label"
  [fullWidth]="true"
  (clickEvent)="onClickPatata()"
  [submit]="true"
>
</pd-app-button>
<div class="form-container">
  <div class="container">
    <pd-input
      id="name"
      [fullWidth]="true"
      label="First Name TEST"
      [required]="true"
      [control]="formUtils.castToFromControl('name', testForm)"
      [errorMessages]="{
            required: 'First Name is required',
            pattern: 'First Name is invalid',
        }"
    >
    </pd-input>
  </div>
</div>

<app-carousel></app-carousel>

<app-carousel-single></app-carousel-single>
