spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/w-backend
    username: user
    password: password
  kafka:
    bootstrap-servers: localhost:9092
  flyway:
    enabled: true # Habilita Flyway para la migraci칩n de base de datos
    locations: classpath:db/migration # Ubicaci칩n de los scripts de migraci칩n
    baseline-on-migrate: true # Permite que Flyway maneje esquemas existentes
    baseline-version: 1
  jpa:
    hibernate:
      ddl-auto: update # Permite actualizaciones autom치ticas del esquema en desarrollo
